<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.UTAMU">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/college_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/college_icon"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">


        <activity
            android:name="com.example.UTAMU.Activities.SplashScreen"
            android:theme="@style/NoBars">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.UTAMU.WalkThrough.WalkThrough"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.example.UTAMU.Activities.SignupLogin"
            android:theme="@style/NoBars" />
        <activity android:name="com.example.UTAMU.Activities.Second" />
        <activity android:name="com.example.UTAMU.Activities.VolKo" />
        <activity android:name="com.example.UTAMU.Activities.AnotherActivity" />
        <activity
            android:name="com.example.UTAMU.Posts.PostDetails"
            android:parentActivityName="com.example.UTAMU.Posts.MainActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity android:name="com.example.UTAMU.Posts.AddPost" />
        <activity android:name="com.example.UTAMU.Posts.Detail" />
        <activity android:name="com.example.UTAMU.Posts.MainActivity" />
        <activity android:name=".Activities.HomeActivity" android:theme="@style/NoBars"/>


    </application>

</manifest>